/*USER PAGE*/

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 1px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   line-height: 0;
   clear: both;
   border: none;
   opacity: 0.2;
   border-bottom: 1px solid silver;   
}

.box-left{
-webkit-box-shadow:2px 1px 8px 1px #ccc;
-moz-box-shadow:2px 1px 8px 1px #ccc;
-o-box-shadow:2px 1px 8px 1px #ccc;
-ms-box-shadow:2px 1px 8px 1px #ccc;
box-shadow:2px 1px 8px 1px #ccc;
-webkit-border-radius:0px 8px 8px 0px;
-moz-border-radius:0px 8px 8px 0px;
-o-border-radius:0px 8px 8px 0px;
-ms-border-radius:0px 8px 8px 0px;
border-radius:0px 8px 8px 0px;
background-color: #FFFFFF;
color: #666666;
font-size: 14px;
-ms-border-radius:1.0em;
width:100%; min-height: 120px;
padding: 16px 16px 16px 9px;
margin-bottom: 30px
}

.circular{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
        position: absolute;
        z-index: 1;
        left: 25px; top:35px;
}
.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}


/*RECENT FEEDBACK START*/
#feedbackrow {width: 270px !important; margin-left: 5px; margin-bottom: 20px}
div.divfeedbacks { display:none; }
/*RECENT FEEDBACK END*/


/*COVER PHOTO FOR USER PAGE START*/
.cover-photo{
-webkit-border-radius:8px 0px 0px 0px;
-moz-border-radius:8px 0px 0px 0px;
-o-border-radius:8px 0px 0px 0px;
-ms-border-radius:8px 0px 0px 0px;
border-radius:8px 0px 0px 0px;
height: 135px;
}
.cover-photo-bottom{
-webkit-border-radius:0px 0px 0px 8px;
-moz-border-radius:0px 0px 0px 8px;
-o-border-radius:0px 0px 0px 8px;
-ms-border-radius:0px 0px 0px 8px;
border-radius:0px 0px 0px 8px;
width:100%;height: 65px;background-color: #ededed
}

/*BUTTONS START*/
.follow-button           { background: url(../img/buttons/follow.png) no-repeat 0 0; display: block; width: 100px; height:39px;text-indent: -9999px;  }
.follow-button:hover     { background-position: 0 -39px; cursor: pointer }

.favorite-button         { background: url(../img/icons/favorite.png) no-repeat 0 0; display: block; width: 17px; height:15px;text-indent: -9999px;  }
.favorite-button.user-product         { position: relative; top: 7px}

.share-button            { background: url(../img/buttons/share.png) no-repeat 0 0; display: block; width: 65px; height:22px;text-indent: -9999px;  }
.share-button:hover      { background-position: 0 -22px; cursor: pointer }
.share-button.user-product { position: relative; top: 4px }

.buy-it           { background: url(../img/buttons/buy-it.png) no-repeat 0 0; display: block; width: 82px; height:33px;text-indent: -9999px;  }
.buy-it:hover     { background-position: 0 -33px; cursor: pointer }

.add-to-wishlist           { background: url(../img/buttons/add-to-wishlist.png) no-repeat 0 0; display: block; width: 115px; height:33px;text-indent: -9999px;  }
.add-to-wishlist:hover     { background-position: 0 -33px; cursor: pointer }
/*BUTTONS END*/
.ribbon-discount         { background: url(../img/icons/ribbon-discount.png) no-repeat 0 0; display: block; width: 110px; height:33px !important; padding:7px 0px 0px 4px }
.ribbon-discount span    { font-family: arial,sans-serif; color: white; 
text-shadow: 1px 2px 2px #000000; }
.ribbon-discount.user-product { position: relative; left: -10px}
.ribbon-discount.hide     { display: none !important }
/*COVER PHOTO FOR USER PAGE END*/

/*USER CONTENT PAGE START*/
dl.sub-nav-user { display: block; width: auto; overflow: hidden; margin: -4px 0 18px; margin-right: 0; margin-left: -9px; padding-top: 4px; }
dl.sub-nav-user dt, dl.sub-nav-user dd { float: left; display: inline; margin-left: 29px; margin-bottom: 10px; }
dl.sub-nav-user dt { color: #999; font-weight: normal; }
dl.sub-nav-user dd { height: 40px}
dl.sub-nav-user dd a { text-decoration: none; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }
dl.sub-nav-user dd.active, dl.sub-nav-user dd:hover { 
    /* background: #2ba6cb; color: #fff; padding: 3px 9px; */
           cursor: default; border-bottom: 6px solid #cc0033 }

.double-line { height: 3px; width: 100%; margin-bottom: 8px; border-top: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5  }
.row.user-product-action    { width:216px !important;height: 33px !important;margin-left: 0px;margin-bottom:8px }


div.user-product            { height: 215px;border-bottom: 0 none;overflow: hidden !important;position: relative;vertical-align: top}
div.user-product span.ItemImage { display: block !important;overflow: hidden !important}

div.user-product 
div.ItemAction              { bottom: 0px;height: 46px;margin: 0 auto;position: absolute;
                                transition: all 0.2s ease-in-out 0s;width: 100%}
div.user-product 
div.ItemAction .wrap        { background: none repeat scroll 0 0 #000000;height: 100%;opacity: 0.6;padding: 10px;
                                position: absolute; width: 216px}
div.user-product 
div.ItemAction .wrap-desc   { padding: 5px 8px}
div.user-product 
div.ItemAction span      {color: #FFFFFF !important;position: relative}
div.user-product:hover div.ItemAction       { display: none}

div.user-product 
div.ItemAction2             {display:none}
.wrap-big                   { width:216px;height:215px;background: none repeat scroll 0 0 #000000;color:#fff;
                                opacity: 0.8;position: relative;padding: 10px}
div.user-product:hover 
div.ItemAction2             { position: absolute; display: block;bottom: 0px;height: 215px;
                                transition: all 0.2s ease-in-out 0s;width: 100%}
div.user-product 
div.ItemAction2 
.wrap-big-desc              { width:216px;top: 0;padding: 10px 10px;position: absolute; display: block;
                                color: #FFFFFF !important}
/*USER CONTENT PAGE END*/

/*USER-PRODUCT MODAL SOCIAL START*/
#productModal ul.user-product-social li{ display: inline }
/*USER-PRODUCT MODAL SOCIAL END*/


/*RECENT FEEDBACK START*/
#feedbackrow {width: 270px !important; margin-left: 5px; margin-bottom: 20px}
div.divfeedbacks { display:none; }
/*RECENT FEEDBACK END*/